@import 'css/settings';

.c-explore-layers {
  position: relative;
  // margin: 0px 4 * $space 0px 3 * $space;

  .advanced-link {
    margin-top: -15px;
    margin-bottom: 12px;
    a {
      font-size: $font-size-small;
      color: $sea-blue;
      font-weight: 700;
      line-height: 15.6px;

      &:hover {
        cursor: pointer;
        text-decoration: none;
      }
    }
  }

  .c-explore-search-actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
    .c-button {
      padding: 0 20px;
      height: 30px;

      &:not(:last-child) {
        margin-right: $space-1;
      }
    }
  }

  .request-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 6 * $space 0px 2 * $space 0px;
    text-align: center;

    .c-button {
      margin-top: 4 * $space;
    }
  }

  .c-explore-dataset-list {
    .spinner-box {
      top: 300px;
    }
  }

  .c-paginator {
    margin-bottom: 3 * $space;

    .rc-pagination {
      max-width: 280px;
    }
  }

  &.-hidden {
    display: none;
  }
}
