.c-tos-modal {
    padding: 50px;
    ol {
        list-style-type: upper-alpha;
        margin-left: 25px;
        // list-style-position: inside;
        li {
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 10px;
        }
    }
    ul {
        margin-left: 25px;
        list-style: initial;
        li {
            margin-bottom: 10px;
        }
    }
}