.c-detail-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 92px;
    justify-content: space-between;

    @media screen and (min-width: map-get($breakpoints, medium)) {
        &.-side {
            flex-direction: row;
        }
    }

    .c-detail-item-info {
        max-width: 505px;
        display: flex;
        flex-direction: row;

        h3 {
            line-height: 38px;
        }
    }

    .c-widget {
        &.-placeholder {
            background-color: rgb($primary-green, 0.2);
        }

        width: 100%;
        max-width: 880px;
        margin: 0 auto;
        height: 456px;

        @media screen and (min-width: map-get($breakpoints, medium)) {
            &.-side {
                width: 340px;
            }
        }
        @media screen and (min-width: map-get($breakpoints, large)) {
            &.-side {
                width: 430px;
            }
        }
    }
}