.c-detail-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 92px;
    justify-content: space-between;

    @media screen and (min-width: map-get($breakpoints, medium)) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 20px;
    }

    .c-detail-section {
        &.-full {
            grid-column: 1 / 3;

            .c-widget {
                max-width: 880px;
            }
        }
    }

    .c-detail-item-info {
        max-width: 620px;
        display: flex;
        flex-direction: row;

        .c-step-icon {
            flex: 1 0 auto;
        }

        h3 {
            line-height: 38px;
        }
    }

    .c-widget {
        &.-placeholder {
            background-color: rgb($primary-green, 0.2);
        }

        width: 100%;
        margin: auto;
        height: 456px;

        .c-callout-card {
            width: 296px;
            height: 206px;
            margin: auto;
        }

        @media screen and (min-width: map-get($breakpoints, medium)) {
            max-width: 340px;
        }
        @media screen and (min-width: map-get($breakpoints, large)) {
            max-width: 430px;
        }
    }
}