.c-analysis-visuals {
  margin-bottom: 50px;

  > div {
    display: inline-block;
    // box-shadow: 0px 0px 4px #00000040;
    width: 287px;
    border-radius: 4px;
    border: 1px solid black;
    margin-bottom: 16px;
  }

  @media screen and (min-width: map-get($breakpoints, large)) {
    columns: 2;
  }
}
