.c-hazards-intro {
    max-width: 610px;
}

.c-value-chain-flow {
    display: flex;
    flex-direction: row;
    // Temporary styling probably
    width: 100%;
    justify-content: space-between;
    margin: $margin-size 0;
}

.c-value-chain-item-intro {
    max-width: 610px;
}