.c-hazards-intro {
    max-width: 610px;
}

.c-value-chain-flow {
    margin: $margin-size 0;
    overflow: hidden;
}

.c-value-chain-item-intro {
    max-width: 610px;
    margin: $margin-size 0;
}

.c-step-details {
    margin: calc($margin-size + 20px) 0;
}