.c-page-explore {
  display: flex;
  height: calc(100vh - #{$header-main-height});

  .explore-sidebar .clear-polygon-container {
    z-index: 2;
    position: absolute;
    top: calc(#{$header-main-height} + 30px);
    left: calc(330px + (30px * 2));
  }
}
