.c_chart {
  flex: 2 1 0;
}

.c_info {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.c_controls {
  :global {
    .c-radio-box {
      display: flex;
      flex-wrap: wrap;

      .c-radio {
        padding-right: 10px;
      }
    }
  }
}

.c_legend {
  min-width: 0;

  div {
    height: 300px;
  }
}