.c_controls {
    position: absolute;
    width: 257px;
    right: 50px;

    :global {
        .c-radio-box {
            display: flex;
            flex-wrap: wrap;
    
            .c-radio {
                padding-right: 10px;
            }
        }
    }
}