.c-text-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 20px; // Necessary for the spinner

  .error,
  .no-data {
    font-weight: $font-weight-bold;
    text-align: center;

    span {
      display: block;
      font-weight: $font-weight-regular;
      font-size: $font-size-normal;
    }
  }

  .content {
    .token {
      color: $sea-blue;
      font-weight: $font-weight-bold;
    }
  }
}

.c-callout-card {
  background: $white;
  position: relative;
  
  &::after {
    content: ''; 
    position: absolute;
    // width: set in js
    // height: set in js
    z-index: -1;
  }
  
  * {
    text-align: center;
  }
  
  .c-data {
    width: 100%;
    padding: 24px;
    .stat-value {
      margin-bottom: 10px;
      color: $primary-green;
    }
    .stat-type {
    
    }
    
    .stat-name {
    
    }
  }
}
