.c-text-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 20px; // Necessary for the spinner

  .error,
  .no-data {
    font-weight: $font-weight-bold;
    text-align: center;

    span {
      display: block;
      font-weight: $font-weight-regular;
      font-size: $font-size-normal;
    }
  }

  .content {
    .token {
      color: $sea-blue;
      font-weight: $font-weight-bold;
    }
  }
}

.c-text-chart-v2 {
  // height: 206px;
  background: $white;
  padding: 24px;
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  
  &::after {
    content: ''; 
    position: absolute;
    // width: set in js
    // height: set in js
    z-index: -1;
  }

  * {
    text-align: center;
  }

  .stat-value {
    margin: 0;
    color: $primary-green;
  }
  .stat-type {
  
  }
  
  .stat-name {
  
  }

}
