.l-about {
  @media screen and (min-width: map-get($breakpoints, small)) {
    margin: 0 $margin-size-small 172px;

    .c-intro-header {
      margin: 0 $margin-size-small * -1;
    }
  }

  @media screen and (min-width: map-get($breakpoints, medium)) {
    margin: 0 $margin-size 175px;

    .c-intro-header {
      margin: 0 $margin-size * -1;
    }
  }

  @media screen and (min-width: map-get($breakpoints, large)) {
    margin: 0 $margin-size * 2 172px;

    .c-intro-header {
      margin: 0 $margin-size * -2;
    }
  }

  .c-about-body {
    .c-acknowledgement {
      h2::before {
        content: '';
        display: block;
        margin-top: 148px;
      }

      &:first-child {
        @media screen and (min-width: map-get($breakpoints, large)) {
          h2::before {
            content: none;
          }
        }
      }

      h3 {
        margin-bottom: 24px;
      }

      .c-logo-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        text-align: center;
        align-items: center;
        margin: 48px 0;

        @media screen and (min-width: map-get($breakpoints, medium)) {
          flex-direction: row;
        }

        .c-logo {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 250px;
          height: 133px;
          background: #ffffff;
          border-radius: 8px;
          transition: all 0.16s ease-in-out;

          &:hover {
            box-shadow: $btn-hover-shadow;
            transform: translateY(-2px);
          }
        }
      }
    }
  }
}
