.c_controls {
  display: flex;
  gap: 50px;

  :global {
    .Select--large {
      flex: 1;
    }
  }
}

.c_legend {
  div {
    height: 100px;
  }
}

.c_info {
  flex-direction: column;
  @media screen and (min-width: 834px) {
      flex-direction: row;
  }
}