@import 'css/settings';

// TODO: look at using l-page instead
// .l-home {
// 	@media screen and (min-width: map-get($breakpoints, small)) {
// 		.c-carousel {
// 			overflow: hidden;
// 			padding-left: $margin-size-small;
// 			padding-right: $margin-size-small;
// 			margin: 0 $margin-size-small * -1;
// 		}
// 	}

// 	@media screen and (min-width: map-get($breakpoints, medium)) {
// 		.c-carousel {
// 			padding-left: $margin-size;
// 			padding-right: $margin-size;
// 			margin: 0 $margin-size * -1;
// 		}
// 	}

// 	@media screen and (min-width: map-get($breakpoints, large)) {
// 		.c-carousel {
// 			padding-left: $margin-size * 2;
// 			padding-right: $margin-size * 2;
// 			margin: 0 $margin-size * -2;
// 		}
// 	}
// }

.c-map-experience {
  margin-top: 140px;
  margin-bottom: 154px;

  .map-text-container {
    @media screen and (min-width: map-get($breakpoints, medium)) {
      max-width: 610px;
    }

    h3 {
      color: $charcoal-grey;
    }
  }
}

.c-value-chains {
  width: 100%;
  margin-bottom: 100px;

  @media screen and (min-width: map-get($breakpoints, small)) {
    position: relative;
    margin-top: 100px;
    margin-bottom: 200px;
  }

  .value-chains-text-container {
    @media screen and (min-width: map-get($breakpoints, medium)) {
      width: 610px;
    }

    h3 {
      color: $charcoal-grey;
    }
  }
}

.learn-more-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  width: 100%;

  h2,
  h3 {
    color: $charcoal-grey;
  }

  @media screen and (min-width: map-get($breakpoints, large)) {
    flex-direction: row;
    column-gap: 50px;
  }

  .learn-more-image-container {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    overflow: hidden;
  }
}
