@use "sass:math";

.c-value-chain-cards {
    position: relative;
    margin: 50px auto 0;
    width: 100%;
    max-width: 1060px;
    display: flex;
    flex-direction: column;
    row-gap: 26px;

    @media screen and (min-width: map-get($breakpoints, medium)) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        // grid-column-gap: 24px;
        grid-row-gap: 56px;
    }

    @media screen and (min-width: map-get($breakpoints, large)) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .value-chain-card {
        background: #fff url('/images/components/layout/landing/value-chain-cards/card-blob.svg') right top no-repeat;
        box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.12);
        height: 411px;
        width: 318px;
        border-radius: 16px;
        overflow: hidden;
        position: relative;

        .c-image {
            text-align: right;
        }

        .c-value-chain-card-info {
            padding: 20px;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }

    .c-mobile-blob {
        margin: 0 math.div(map-get($grid-column-gutter, medium), -2);
        position: absolute;
        width: 332px;
        height: 305px;
        z-index: 0;
        top: -50px;
    }
}