html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  position: absolute;
}

#map {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
}

.sidebar {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  overflow: auto;
}

.nav {
  position: sticky;
  top: 0;
  background-color: white;
  display: flex;
  justify-content: space-around;
}